<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-segment" version="0.0.2">
    <name>AnalyticsPlugin</name>
    <description>Cordova Plugin Segment</description>
    <license>MIT License</license>
    <keywords>cordova,segment,analytics</keywords>
    <repo>https://github.com/aliatsis/cordova-plugin-segment.git</repo>

    <engines>
      <engine name="cordova" version=">=3.0.0" />
      <engine name="cordova-android" version=">=4.0.0" />
      <engine name="cordova-ios" version=">=3.0.0" />
    </engines>

    <js-module name="analytics" src="www/analytics.js">
        <clobbers target="analytics" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AnalyticsPlugin">
                <param name="android-package" value="com.segment.analytics.cordova.AnalyticsPlugin"/>
                <param name="onload" value="true"/>
            </feature>
            <preference name="analytics_write_key"/>
            <preference name="analytics_debug_write_key"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />

            <!-- Recommended by us and most bundled integrations. -->
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

            <!-- Allow you to get LOGCAT information when a crash occurs. -->
            <uses-permission android:name="android.permission.READ_LOGS"/>

            <!-- Allow you to see which activity was active when a crash occurs. -->
            <uses-permission android:name="android.permission.GET_TASKS"/>

            <!-- Allows location to be tracked by bundled integrations. -->


            <!-- Required by Leanplum (and for push notifications). -->
            <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
        </config-file>

        <framework src="com.segment.analytics.android:analytics:4.+"/>

        <source-file src="src/android/AnalyticsPlugin.java" target-dir="src/com/segment/analytics/cordova"/>
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="AnalyticsPlugin">
                <param name="ios-package" value="AnalyticsPlugin" />
                <param name="onload" value="true"/>
            </feature>
            <preference name="analytics_write_key"/>
            <preference name="analytics_debug_write_key"/>
        </config-file>

        <header-file src="src/ios/AnalyticsPlugin.h" />
        <source-file src="src/ios/AnalyticsPlugin.m" />

        <header-file src="src/ios/SEGAnalytics.h" />
        <source-file src="src/ios/SEGAnalytics.m" />

        <header-file src="src/ios/SEGAnalyticsConfiguration.h" />
        <source-file src="src/ios/SEGAnalyticsConfiguration.m" />

        <header-file src="src/ios/SEGSerializableValue.h" />

        <header-file src="src/ios/Crypto/SEGAES256Crypto.h" />
        <source-file src="src/ios/Crypto/SEGAES256Crypto.m" />
        <header-file src="src/ios/Crypto/SEGCrypto.h" />

        <header-file src="src/ios/Middlewares/SEGContext.h" />
        <source-file src="src/ios/Middlewares/SEGContext.m" />
        <header-file src="src/ios/Middlewares/SEGMiddleware.h" />
        <source-file src="src/ios/Middlewares/SEGMiddleware.m" />

        <header-file src="src/ios/Integrations/SEGAliasPayload.h" />
        <source-file src="src/ios/Integrations/SEGIdentifyPayload.m" />
        <header-file src="src/ios/Integrations/SEGScreenPayload.h" />
        <source-file src="src/ios/Integrations/SEGAliasPayload.m" />
        <header-file src="src/ios/Integrations/SEGIntegration.h" />
        <source-file src="src/ios/Integrations/SEGScreenPayload.m" />
        <header-file src="src/ios/Integrations/SEGGroupPayload.h" />
        <header-file src="src/ios/Integrations/SEGIntegrationFactory.h" />
        <header-file src="src/ios/Integrations/SEGTrackPayload.h" />
        <source-file src="src/ios/Integrations/SEGGroupPayload.m" />
        <header-file src="src/ios/Integrations/SEGPayload.h" />
        <source-file src="src/ios/Integrations/SEGTrackPayload.m" />
        <header-file src="src/ios/Integrations/SEGIdentifyPayload.h" />
        <header-file src="src/ios/Integrations/SEGIntegrationsManager.h" />
        <source-file src="src/ios/Integrations/SEGIntegrationsManager.m" />
        <source-file src="src/ios/Integrations/SEGPayload.m" />

        <header-file src="src/ios/Internal/NSData+GZIP.h" />
        <header-file src="src/ios/Internal/NSData+SEGGZIP.h" />
        <header-file src="src/ios/Internal/SEGAnalyticsRequest.h" />
        <header-file src="src/ios/Internal/SEGAnalyticsUtils.h" />
        <header-file src="src/ios/Internal/SEGBluetooth.h" />
        <header-file src="src/ios/Internal/SEGFileStorage.h" />
        <header-file src="src/ios/Internal/SEGHTTPClient.h" />
        <header-file src="src/ios/Internal/SEGLocation.h" />
        <header-file src="src/ios/Internal/SEGReachability.h" />
        <header-file src="src/ios/Internal/SEGSegmentIntegration.h" />
        <header-file src="src/ios/Internal/SEGSegmentIntegrationFactory.h" />
        <header-file src="src/ios/Internal/SEGStorage.h" />
        <header-file src="src/ios/Internal/SEGStoreKitTracker.h" />
        <header-file src="src/ios/Internal/SEGUserDefaultsStorage.h" />
        <header-file src="src/ios/Internal/SEGUtils.h" />
        <header-file src="src/ios/Internal/UIViewController+SEGScreen.h" />
        <source-file src="src/ios/Internal/NSData+GZIP.m" />
        <source-file src="src/ios/Internal/NSData+SEGGZIP.m" />
        <source-file src="src/ios/Internal/SEGAnalyticsRequest.m" />
        <source-file src="src/ios/Internal/SEGAnalyticsUtils.m" />
        <source-file src="src/ios/Internal/SEGBluetooth.m" />
        <source-file src="src/ios/Internal/SEGFileStorage.m" />
        <source-file src="src/ios/Internal/SEGHTTPClient.m" />
        <source-file src="src/ios/Internal/SEGLocation.m" />
        <source-file src="src/ios/Internal/SEGReachability.m" />
        <source-file src="src/ios/Internal/SEGSegmentIntegration.m" />
        <source-file src="src/ios/Internal/SEGSegmentIntegrationFactory.m" />
        <source-file src="src/ios/Internal/SEGStoreKitTracker.m" />
        <source-file src="src/ios/Internal/SEGUserDefaultsStorage.m" />
        <source-file src="src/ios/Internal/SEGUtils.m" />
        <source-file src="src/ios/Internal/UIViewController+SEGScreen.m" />

        <framework src="CoreBluetooth.framework" weak="true" />
        <framework src="CoreLocation.framework" weak="true" />
        <framework src="CoreTelephony.framework" weak="true" />
    </platform>
</plugin>
